{config_load file="$language/lang_$language.conf" section="account_history_info"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="account_history_info"}
{if $MITS_CARRIER_DATA_PRIVACY_INFO}
<div class="hr_10"></div>
{if $success_message != ''}<div class="infomessage">{$success_message}</div>{/if}
<div style="padding:5px;border:1px solid #333;">
    {$MITS_CARRIER_DATA_PRIVACY_INFO}<br /><br />
    <a href="{$MITS_CARRIER_DATA_PRIVACY_LINK}" onclick="return confirm('{$MITS_CARRIER_DATA_PRIVACY_LINK_CONFIRM_SUBMIT}')" id="carrier_data_privacy_link"><strong>{$MITS_CARRIER_DATA_PRIVACY_LINK_TEXT}</strong></a>
</div>
{/if}